<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/base-min.css">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/grids-min.css">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/base-min.css">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/grids-min.css">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/grids-responsive-min.css">
    <!--<![endif]-->
    <!--Syntax highlight-->
    <link href="{{ $.Site.BaseURL }}css/prism.css" rel="stylesheet" />
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{{ $.Site.BaseURL }}css/custom.css">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{{ $.Site.BaseURL }}images/favicon.png">
</head>
<body>
    <!-- Syntax hightlight-->
    <script src="{{ $.Site.BaseURL }}js/prism.js"></script>
    <div id="layout">
        <div class="header">
            <a href="/">
                <img src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}Hazard_Z_200x200_BW.png{{ end }}" />
            </a>
        </div>

    