/* prism syntax highlight
language specific formating */
pre .language-output:before {
    content: "# OUTPUT \a";
    white-space: pre;
    color: #AAA;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0 auto;
    padding: 0 2em;
}

.footer {
    margin: 0 auto;
    padding: 0 2em;
}